BETTER_AUTH_SECRET=
BETTER_AUTH_URL=""
#
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""
#
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
#
UPLOADTHING_TOKEN=''
UPLOADTHING_SECRET=''
UPLOADTHING_APP_ID=''
#
BETTER_AUTH_URL=http://localhost:3000
# Groq
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b
GROQ_TTS_MODEL=whisper-large-v3
# Upstash
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
REDIS_URL=""

QSTASH_URL="https://qstash-us-east-1.upstash.io"
QSTASH_TOKEN="="
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""
# Gmail SMTP
GMAIL_EMAIL=
GMAIL_APP_PASSWORD=""
#
GEMINI_API_KEY=""
SARVAM_API_KEY=""